@import 'tailwindcss';
@config "../tailwind.config.js";

:root {
  --color-from-light-theme: #f7f7f5;
  --color-via-light-theme: #e8e7e3;
  --color-to-light-theme: #ebedf0;
  --color-from-dark-theme: #1c1b1b;
  --color-via-dark-theme: #292828;
  --color-to-dark-theme: #121212;
}

@layer base {
  html {
    @apply text-surface;
    @apply bg-white;
  }

  html.dark {
    @apply text-neutral-50;
    @apply bg-body-dark;
  }
}

@tailwind components;
@tailwind utilities;

p {
  @apply leading-[1.6];
}

/** custom global scrollbar */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
} */

/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px #9e9d99;
  background: #9e9d99;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d1d0cd;
}
